:root {
  --primary: #62bfe0;
  --secondary: #e74d80;
  --white: #fff;
  --black: #525252;  
  --gray: #eee;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: var(--gray);
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 80%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.both-columns {
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 10px;
}

.left-side-header {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 40%;
}

#add-score-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#add-score-form > * {
  height: 28px;
}

#submit {
  align-self: flex-end;
}

.btn {
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 0;
  border: none;
  box-shadow: 2px 3px;
}

#scores-table {
  border: 1px solid black;
}


